Repository kdeng/jenkins-monorepo-demos: changes, and which Jenkins stages are due for each by the changed paths.
All: Build hello-ui, Build hello-service

Build hello-ui:
        steps {
          build 'hello-ui'
        }
      

Build hello-service:
        steps {
          build 'hello-service'
        }
      

updated hello-ui
  Jenkinsfile
  hello-ui/README.md
Due: Build hello-ui

updated hello-ui
  Jenkinsfile
Due: none

updated hello-ui
  hello-service/README.md
Due: Build hello-service

added README
  Jenkinsfile
  README.md
Due: none

updated jenkins
  Jenkinsfile
Due: none

updated Jenkinsfile
  Jenkinsfile
Due: none

updated all
  Jenkinsfile
  README.md
  hello-service/README.md
  hello-ui/README.md
Due: Build hello-ui, Build hello-service

Path conditions:
  Build hello-ui: any of: hello-ui/**
  Build hello-service: any of: hello-service/**
